body{
  font-size:12px;
  line-height:18px;
  color:#36373C;
  background-color:#ffffff;
  width:950px;
  margin:0px auto 0px auto;
  font-family:Arial,Verdana,Helvetica,sans-serif;
}

#wrapper{
  width:950px;
  margin:0px auto 0px auto;
}

a{
  outline:none;
  font-size:12px;
  text-decoration:none;  
  color:#4A4B53;
}

#headerBox{
  background-image:url(../images/homeHeadcrop1.png);
  background-repeat:no-repeat;
  background-color:transparent;
  height:49px;
  width:950px;
  padding:0;
  margin:0;
}

#contentDiv{
  float:left;
  width:732px;
  height:700px;
  margin-top:8px;
  margin-left:10px;
}
/*-------startpage-------*/

#startPage {
  margin:16px 0px 0px 10px; 
  text-align:justify; 
  padding: 0px 0px 0px 0px;  
}

p img.right{
  float:right;
  margin:0 0 0 1.3em;
  padding:0;
}

#prcLogo{
  float:right;
  width:225px;
  height:40px;
}

span.largey{
/* color:#656178;   */
  color:#595668;
  font-size:18px;
  letter-spacing:-1px;
  line-height:1.30;
  text-decoration:none;
  font-family:Arial;
  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}

span.largeyd{
  color:#656178;
  font-style:italic;
  text-decoration:underline;
  font-family:Arial;
  font-weight:600;
}

span.highLight{
/* color:#26242d; */
/* color:#595668;  */
  color:#403D4E;
  font-family:Arial;
  font-weight:500;
}

span.services{
/* color:#656178; */
  color:#595668;
  font-size:18px;
  letter-spacing:-1px;
  line-height:1.30;
  text-decoration:none;
  font-weight:normal;
  font-family:Arial;
  font-style:normal;
  font-variant:normal;
}

#startPage p{
  margin:2px 0px 14px 3px;
  text-align:justify;
}

#startPage p.last{
  margin:2px 0px 35px 3px;
  text-align:justify;
} 

ul.linkList{
  padding:0px 0px 12px 8px;
  margin:0;
}

ul.linkList li{
  background-image:url(../images/right-gray.png);
  background-repeat:no-repeat;
  background-position:0px 6px;
  padding-left:6px;
}
/*-------siderbar-------*/

#leftSidebar{
  float:left;
  width:205px;
}

#HOguide{
  background-image:url(../images/HOguide.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:40px;
  margin-bottom:1px;
}

#Resources{
  background-image:url(../images/Resources.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:40px;
  margin-bottom:1px;
}

#Guides{
  background-image:url(../images/Guides.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:40px;
  margin-bottom:1px;
}

#leftSidebar .darkmenu
{
	/*padding: 0;*/
	/*padding: 1px 2px 4px 2px;*/
	padding-bottom: 3px;
	background-image: url(../images/linkbottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	/*background-color: transparent;*/
	text-decoration: none;
	/*margin:1px 0px 0px 0px;*/
}

ul.msd a{
  display:block;
  padding:0px 0px 0px 12px;
  font-family:Arial,sans-serif,Verdana,Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:500;
  line-height:20px;
  /* color:#403D4E; */
  /* color:#4A4B53; */
 /*  color:#302e3b; */
  /* color:#2e2c36; */
  /*color:#484458;*/
 /* color:#3A3748;*/
  /*color:#514E69;*/
  /*color:#4D4A64;*/
  /*color:#2F2F35;*/
  /*color:#530045;*/
  /*color:#EBEAEc;*/
  /*color:#2F3035;*/
  color:#3d3b49;
  }

#leftSidebar .darkmenu a:hover
{
	/* color: #993333; */
	color:#750061;
	text-decoration: underline;
}


#leftSidebar .darkmenucontent
{
	background-image: url(../images/linktop.png);
	background-repeat: no-repeat;
	background-position: top;
	/*background-color: transparent;*/
	padding: 4px 3px 4px 3px;
}

li.bullet{
 background:transparent url(../images/right-gray.png) no-repeat 7px 9px;
 padding-top:1px;
 padding-bottom:1px;
 }

a.active{
  color:#5E004E;
}

li.active{
  background:transparent url(../images/linkarrow.gif) no-repeat 98% 58%;
  padding-right:11px;
  font-style:oblique;
  text-align:right;
}

/* li.bullet{
  background:transparent url(../images/right-gray.png) no-repeat 8px 50%;
}

li.active{
  background:transparent url(../images/linkarrow.gif) no-repeat 98% 58%;
  padding-right:12px;
  font-style:oblique;
  text-align:right;
}
*/

/* a.linkOver{
  color:#993333;
  font-style:italic;
} */

/* 
ul.msd{
  background-image:url(../images/linkImage1.jpg);
  background-repeat:no-repeat;
  background-color:#FFFFFF;
  margin:1px 0px 0px 0px;
  height:24px;
  width:205px;
  padding:0;
  list-style-type:none;
}

#Selections{
  background-image:url(../images/HOguide.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:45px;
}

#Review{
  background-image:url(../images/Review.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:28px;
}

#Resources{
  background-image:url(../images/Resources.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:40px;
}

#Guides{
  background-image:url(../images/Guides.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  width:205px;
  margin-top:40px;
}

ul.msd a{
  display:block;
  padding:0px 0px 0px 13px;
  font-family:Arial,sans-serif,Verdana,Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:500;
  line-height:24px;
} */
/*-----Footer------*/

#footerBox{
  clear:both;
  background-image:url(../images/footer.png);
  background-repeat: no-repeat;
  background-color:#fff;
  height:24px;
  width:950px;
  line-height:24px;
  text-align:center;
  /*border-bottom:1px solid #E3DDE6;*/
}

span.footy{
  font-size:11px;
  text-align:center;
  font-family:Arial,Verdana;
  font-weight:600;
/* color:#6C6880; */
  color:#514e5f;
}
/*--------FormWiz---------*/
#allForm{
	margin-top:30px;
}
.x-fieldset legend{
/*color:#837A9E;*/
/* color:#75718C; */
  /*color:#595668;*/
  color:#5F5B6F;
/*color:#666377;*/
/*color:#7e7993;*/
  font-weight:500;
  font-family:Arial,Verdana;
  font-size:18px;
}

.x-form-item{
/*color:#313c53;*/
  /*color:#242C3E;*/
  /*color:#3E3F46;*/
  padding:2px 0px 2px 0px;
}

.x-form fieldset{
  border-color:#E7E7E7;
 /*border:6px solid #f3f2f5;*/
/* border:none; */
}

#steps{
  list-style:none;
  width:100%;
  overflow:hidden;
  padding-left:40px;
}

#steps li{
  font-size:22px;
  font-weight:500;
/*letter-spacing:-1px;*/
  font-family:Arial,Verdana;
  float:left;
  text-align:center;
  padding:15px 36px 0px 0px;
  color:#e1e1e1;
}

#steps li span{
  font-size:11px;
  /*font-style:oblique;*/
  font-family:Arial,Helvetica,sans-serif;
/*padding:0px 14px 0px 10px;*/
  display:block;
  text-align:center;
}

#steps li.current{
/*color:#68647B;*/
  /*color:#7e7993;*/
/*color:#86819A;*/
  color:#636075;
/*color:#666377;*/
/*color: #5d596f;*/
}

#steps li.current span{
  /*color:#5B5C64;*/
  color:#44454D;
/*color:#242C3E;*/
}

td.tdButton{
  width:100px;
}

button.x-btn-text{
  color:#323338;
}

.x-btn-mc{
  width:89px;
}
/*--------GridGraph---------*/

#gridPanel{
	margin-top:20px;
}

.x-grid3-row-alt{
  background-color:#FAFAFA;
}

.x-grid3-row td{
  line-height:1.20;
}

.x-grid3-row-selected{
  background: #EBE7ED !important;
  border:1px dotted #D2CBD8;
}

.x-grid-with-col-lines .x-grid3-row{
  border-top-color:transparent;
}

.x-grid-with-col-lines .x-grid3-row-selected{
  border-top-color:#D2CBD8;
}

td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open{
  border-left-color:#eee;
  border-right-color:#eee;
}

.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell-last{
  border-right-color:#fcfcfc;
}

td.x-grid3-hd-over .x-grid3-hd-inner,td.sort-desc .x-grid3-hd-inner,td.sort-asc .x-grid3-hd-inner,td.x-grid3-hd-menu-open .x-grid3-hd-inner{
  background-color:#f9f9f9;
  background-image:url(../images/gray/grid/grid3-hrow2.gif);
}

.sort-asc .x-grid3-sort-icon{
  background-image:url(../images/sort_asc.gif);
}

.sort-desc .x-grid3-sort-icon{
  background-image:url(../images/sort_desc.gif);
}
/*------contact-panel---------------*/

div.thumb-wrap{
  line-height:1.2;
  font-size:11px;
  width:225px;
  height:190px;
}

p.contactHead{
  font:normal normal 600 11px Arial;
  padding-top:5px;
  color:#515257;
}

a.webLink2{
  color:#7a6688;
  font:normal normal 500 11px Arial;
  text-decoration:underline;
  line-height:1.2;
}

div.contactFour{
  background-image:url(../images/Contact1.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:24px;
}

div.contactTop{
  border:4px solid #E3E2E4;
  border-top:1px solid #d3d2d4;
  padding-left:5px;
  padding-bottom:0px;
  color:#4A4B53;
}

table.contactTable td.left{
  width:60%;
}

#graphCont{
  padding:0px 0px 0px 6px;
}